h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 200;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 20px);
  margin: 10px;
  width: calc(100% - 20px);
}

.header {
  text-align: center;
  margin-bottom: 20px;
  font-family: var(--font-header);
}

.headerWrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.headerText {
  flex: 1;
}
.menuIcon {
  width: 64px;
  background-color: transparent;
  border: none;
}
.menuIcon:hover {
  cursor: pointer;
}
.menuIcon:active .menuIcon:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(103, 178, 70, 0.39);
}
.selectionWrapper {
  z-index: 999;
  width: 80%;
  display: flex;
  justify-content: space-around;
  color: #292929;
  height: 100%;
  align-items: center;
}
.sheetsBtn,
.centronBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: #292929;
  transition: box-shadow 250ms ease-in-out;
  border: none;
  border-radius: 20px;
  background: linear-gradient(145deg, #e6e6e6, #fff);
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #fff;
}
.sheetsBtn:hover,
.centronBtn:hover {
  cursor: pointer;
  box-shadow: 0 3px 15px 1px rgba(0, 0, 0, 0.1);
}
.sheetsBtn:active,
.sheetsBtn:focus,
.centronBtn:active,
.centronBtn:focus {
  box-shadow: 3px solid rgba(0, 0, 0, 0.2);
  outline: none;
}
