h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 200;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  font-family: var(--font-header);
}

.headerWrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.headerText {
  flex: 1;
}
.menuIcon {
  width: 64px;
  background-color: transparent;
  border: none;
}
.menuIcon:hover {
  cursor: pointer;
}
.menuIcon:active .menuIcon:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(103, 178, 70, 0.39);
}
